<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Depeche Codes</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>        
      <li><a href="{{ url_for('project', project_name='eisenhowersquadrant') }}">Eisenhower's Quadrant</a></li>
      <li><a href="{{ url_for('project', project_name='depechehouse') }}">Depeche House</a></li>
      <li><a href="{{ url_for('project', project_name='depechecodes') }}">Depeche Codes</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
    </ul>
  </nav>
    {% block content %}
    {% endblock %}
  <script src="js/scripts.js"></script>
</body>
</html>