{% extends "base.html" %}

{% block content %}



<!-- BACKGROUND IMAGE -->
<div class="view" style="background-image: url(../static/images/pawel-czerwinski-ISgDx2aOAB8-unsplash.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient align-items-center">
        <div class="container padding" style="padding-top: 100px;">
            <!-- MY NAME TEXT -->
            <div class="row welcome text-center text-white">
                <div class="col-12">
                    <br>
                    <h1 class="display-4">Sam Thompson</h1>
                </div>
                <div class="col-12">
                    <p class="text-center text-white"><i>A place to enjoy the silence</i></p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!-- DESCRIPTION -->
            <div class="col-12">
                <p class="lead text-center text-white">Python specialist and back-end web developer</p>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<!-- JUMBOTRON SECTION -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Welcome to my portfolio website, below you can filter through my projects based on different tags. Alternatively you can view my profile by clicking the button!</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="{{ url_for('profile') }}"><button type="button" class="btn btn-outline-secondary btn-lg">My Profile</button></a>
        </div>
    </div>
</div>


<!-- LIST OF PROJECT TITLE -->

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h2>My Projects</h2>
        </div>
        <hr>
    </div>
</div>

<!-- UNDERLINE -->
<div>
    <hr class="my-4">
</div>

<!-- FILTER PROJECTS FORM -->

<form method="POST">
    <div class="container padding">
        <div class="row">
            {{ filter_form.hidden_tag() }}
            <div class="col-sm">
            {{ filter_form.python_field.label }}
            {{ filter_form.python_field }}
            </div>
            <br>
            <div class="col-sm">
            {{ filter_form.flask_field.label }}
            {{ filter_form.flask_field }}
            </div>
            <br>
            <div class="col-sm">
            {{ filter_form.django_field.label }}
            {{ filter_form.django_field }}
            </div>
            <br>
            <div class="col-sm">
            {{ filter_form.sql_field.label }}
            {{ filter_form.sql_field }}
            </div>
            <br>
            <div class="col-sm">
            {{ filter_form.csv_field.label }}
            {{ filter_form.csv_field }}
            </div>
            <br>
            <div class="col-sm">
            {{ filter_form.search }}
            </div>   
        </div>
    </div>
</form>

<!-- UNDERLINE -->
<div>
    <hr class="my-4">
</div>

<!-- PROJECT CARDS -->

<!-- FILTERED LIST -->

<div class="container">
    <div class="row padding">
    {% if filter_form.search.data %}
        {% if filtered_projects | length > 0 %}
        {% for project in filtered_projects %}

        <div class="col-md-4 py-3 align-items-stretch">

            <!-- SELECTING CORRECT BACKGROUND IMAGE -->
            {% if names[project] == "Eisenhower's Quadrant" %}
            <div class="card card-image" style="background-image: url(../static/images/quadrants.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Depeche Codes" %}
            <div class="card card-image" style="background-image: url(../static/images/pawel-czerwinski-ISgDx2aOAB8-unsplash.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Depeche House" %}
            <div class="card card-image" style="background-image: url(../static/images/nighthouse.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Mileage Calculator" %}
            <div class="card card-image" style="background-image: url(../static/images/teslatyre.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Django Unrestrained" %}
            <div class="card card-image" style="background-image: url(../static/images/cowboy.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% else %}
            <div class="card card-image" style="background-image: url(../static/images/tesla.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% endif %}  
                <!-- ONCE BACKGROUND IMAGE IF STATEMENT FINISHED, NAME AND BRIEF DESCRIPTION SECTION FOR CARDS -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="card-body">
                        <h4 class="card-title pt-2"><a class="text-white" href="{{ url_for('project', project_name=project) }}">{{ names[project] }}</a></h4>
                        <p class="card-text">{{ brief_desc[project] }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- NO FILTER RESULTS -->

    {% else %}
    <div class="container padding">
        <br>
        <p>Sorry, looks like there are no projects matching your selected tags... yet!</p>
    </div>
    {% endif %}
    {% else %}

</div>


    <!-- UNFILTERED LIST SECTION-->
<div class="container">
    <div class="row padding">

    {% for project in unfiltered_projects %}

        <div class="col-md-4 py-3 align-items-stretch">
            
            <!-- SELECTING CORRECT BACKGROUND IMAGE -->
            {% if names[project] == "Eisenhower's Quadrant" %}
            <div class="card card-image" style="background-image: url(../static/images/quadrants.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Depeche Codes" %}
            <div class="card card-image" style="background-image: url(../static/images/pawel-czerwinski-ISgDx2aOAB8-unsplash.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Depeche House" %}
            <div class="card card-image" style="background-image: url(../static/images/nighthouse.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Mileage Calculator" %}
            <div class="card card-image" style="background-image: url(../static/images/teslatyre.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% elif names[project] == "Django Unrestrained" %}
            <div class="card card-image" style="background-image: url(../static/images/cowboy.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% else %}
            <div class="card card-image" style="background-image: url(../static/images/tesla.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            {% endif %}  

            <!-- CHANGING TITLE AND BRIEF DESCRIPTION OF EACH PROJECT -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="card-body">
                        <h4 class="card-title pt-2"><a class="text-white" href="{{ url_for('project', project_name=project) }}">{{ names[project] }}</a></h4>
                        <p class="card-text">{{ brief_desc[project] }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    {% endif %}

    </div>
</div>
{% endblock %}

