{% extends "base.html" %}

{% block content %}
<br>
<div class="container padding">
<h1>My Profile</h1>
<br>
<p><b>My Journey: </b>Initially I began learning the basics of HTML and CSS. I quickly realised I was interested in pursuing Python due to its flexibility and wide usage in multiple areas. I begain exploring the potential Python had with manipulating CSV files. Once I acquired a strong understanding with Python and it's core concepts, I decided to learn Flask to strengthen my understanding of back-end web development. While learning Flask I learnt SQL databases along the way! In the future I plan on learning Django.</p>
<br>
<h3>My CV</h3>
<br>
</div>

<div class="container-fluid">
<embed src="../static/Sam CV.pdf" width="100%" height="800">
</div>
{% endblock %}

