{% extends "base.html" %}

{% block content %}

<!-- PROJECT TITLE -->
<br>
<div class="container padding">
    <div class="row">
        <div class="col-9">
            <h2>{{ name }}</h2>
        </div>
        <div class=col-3>
            <br>
            <p><b>Created:</b> {{ date_created }}</p>
        </div>
    </div>
    <p><b>Tags: </b>{{ tags }}</p>
</div>

<!-- IMAGE AND DESCRIPTION SECTION -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-sm-12 col-md-6 image">
            <img src="../static/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg"  class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6">
            <h4>Description</h4>
            <p>{{ description }}</p>
            <h4>Goals</h4>
            <ul>
                {% for goal in goals %}
                <li>{{ goal }}</li>
                {% endfor %}
            </ul>
            <h6>View the code on GitHub <a href="https://github.com/Sam-Ian/Depeche-Codes.git">here</a></h6>
        </div>
    </div>
</div>

<!-- LINK TO WEBSITE -->
{% if name != "Depeche Codes" %}
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">If you would like to visit the {{ name }} website, please press the button!</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="{{ project_link }}"><button type="button" class="btn btn-outline-primary btn-lg">Go To Project</button></a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}